h1,  a {
  font-family: 'Indie Flower', cursive;
}
h2, h3, h4, h5, h6, p, button {
  font-family: 'Quicksand', sans-serif;
}
.indie {
  font-family: 'Indie Flower', cursive;
}
code {
  text-align: left;
  padding: 10px;
  margin: auto;
  color: white !important;
}
.dark {
  color: rgba(55, 55, 55, 1) !important;
}
.btn-purple{
  background-color: #BA55D3;
  border-color: #BA55D3;
  border-radius: 8px;
  margin: 3px;
  color: #fefefe;
  box-shadow: 0 5px 10px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.btn-purple:hover {
  background-color: #CA7EDD;
  transition: .2s transform;
  transform: translateY(-2px);
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.52), 0 4px 25px 0px rgba(0, 0, 0, 0.18), 0 8px 10px -5px rgba(0, 0, 0, 0.25);
  color: white !important;
  border-color: transparent !important;
}
.h-100vh{
  height: 100vh;
}

.btn-purple-basic { 
  background-color: transparent;
  border-color: #D392E3;
  color: #D392E3;
  border-radius: 8px;
  margin: 3px;
  box-shadow: 0 4px 8px -12px rgba(0, 0, 0, 0.42), 0 4px 10px 0px rgba(0, 0, 0, 0.12);

}
.card {
  border: none;
  box-shadow: 2px 1px 15px -1px rgba(50,50,50,.5);
  border-radius: 6px;
  overflow: hidden;
  transition: .1s;
  width: 100%;
}

.price-card {
  border: none;
  border-radius: 6px;
  overflow: hidden;
  transition: .1s;
  width: 100%;
  background-color: #f1f1f1;
}
.price-card h5{
  width: 100%
}
.card .image {
  width: 100%;
  height: length;

}
.text-blue {
  color: #1AAFD8;
}
.text-purp {
  color: #A632C2;
}
.btn-purple-basic:hover {
  background-color: #fff;
  transition: .2s transform;
  transform: translateY(-2px);
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color: #D392E3 !important;
  border-color: #D392E3 !important;
}

.bold{
  font-weight: 900;
}

.purple-gradient {
  padding: 5px;
  box-shadow: 2px 3px 25px -3px rgba(50, 50, 50, 0.5);
  border-radius: 8px;
  color: #f1f1f1;
  background-image: linear-gradient(to bottom right, rgba(175, 70, 211, .5), rgba(147, 112, 219, .5)) !important;
}
#mv1, #mv2, #mv3 {
  width: 100%;
  height: 360px;
  margin: -10px 0;
  z-index: 200;
  position: relative;
}

.parallaxHeader {
  overflow: hidden !important;
}


#parallaxHeader {
  margin-top: 23% !important;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 200;
  left: 0;
}
.throbber-top {
  top: 7px;
  margin-left: -7px;
  left: 50%;
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background: #02A9F7;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #02A9F7;
  z-index: 3000;
}

.throbber-bottom {
  bottom: 7px;
  left: 50%;
  margin-left: -7px;
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background: #02A9F7;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #02A9F7;
  z-index: 3000;
}
.throbber-inner {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -13px 0 0 -13px;
  width: 26px;
  height: 26px;
  border: 1px solid hsla(0%,0%,0%,.1);
  background: hsla(60%,0%,40%,.4);
  border-radius: 100%;
  box-shadow: 0 0 0 2px #02A9F7;
  }

#contactMe{
  height: 500px;
  background: url('/images/bg11.png');
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: top;
  width: 100%;
}
textarea{
  height: 130px;
}
input[type=text], input[type=phone], input[type=number]{
  height: 30px;
}
label{
  width: 100%;
}
  input[type=text], input[type=phone], input[type=number], textarea {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 3px -1px rgba(50,50,50,.5);
  border: none;
  color: rgba(125,125,125,.7) !important;
  transition: transform .3s;
}
.page-num input[type=number]{
  width: auto !important;
  position: relative;
}
input:focus, textarea:focus{
  box-shadow: 2px 1px 4px -1px rgba(50,50,50,.5) !important;
  color: rgba(100,100,100,.9) !important;
  outline: none !important;
  transform: translateY(-1px)
}
.background-dotsLI {
  background-color: #fefefe;
  color: #111 !important;
  width: 100%;
  margin-top: 0;
}
#how-it-works {
  background-color: #f1f1f1;

}
.spring{
    position: absolute;
    border-bottom: 2px solid rgba(175, 70, 211, 1);
    width: 30px;
    height: 30px;
    top: 50%;
    left: 60px !important;
    position: absolute;
    transform: rotateZ(-40deg);

}


.throbber {
    display: block;
    width: 14px;
    height: 14px;
    background:  rgba(175, 70, 211, 1);
    border-radius: 100%;
    box-shadow: 0 0 0 2px  rgba(175, 70, 211, 1);
    z-index: 3000;
    margin-top: -8px;
    position: absolute;
}

.throbber-bullets {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -7px 0 0 -7px;
    width: 14px;
    height: 14px;
    border: 1px solid hsla(0%,0%,0%,.1);
    border-radius: 100%;
    box-shadow: 0 0 0 2px  rgba(175, 70, 211, .9);
    background: rgba(105, 50, 151, .9);
}
#list-stage .throbber{
  top: 50%;
  left: -8px;
}

#dot-outer{
  margin-top: 130px;
}

.first-throbber {
    top: 50%;
    right: 9px;
}

.top-throbber {
    top: 50%;
    left: 68px;
}
.second-throbber {
    top: 50%;
    right: 8px !important;
}
.mid-throbber {
    top: 50%;
    left: 68px !important;
}
.header-box{
  height: 65%;
}
.header-box .card {
  background-color: rgba(29,0,60, .9);
}

.top-box {
  background-color: rgba(0,0,0,.8) !important;
  padding: 5px;
  box-shadow: 1px 2px 8px -2px rgba(50,50,50,.5);
}

.top-parallax{
  width: 100%;
  margin: 0;
  background-size: cover;
  background-image: url("/images/header-bg.jpg");
  background-position: 25%;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: .8
}

.top-rounded{
  width: 120%;
  margin: 0 -10%;
  border-radius: 0 0 50% 50%;
  height: 80vh;
  background-color: #fff
}

.step{
    margin: 10px;
    padding: 12px 12px 5px 20px !important;
    box-shadow: 1px 2px 16px -2px rgba(50,50,50,.3);
    border-left: 1px solid rgb(175, 70, 211);
    border-radius: 4px;

}
.description {
    text-align: left;
}
.animated-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:  rgba(175, 70, 211, 1);
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: -1

}
.animated-dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:  rgba(175, 70, 211, 1);
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: -1
}



.workflow{
    position: relative;
}
